@{
    ViewData["Title"] = "Backend 2";
}

<h1>Form parameters parsing demo</h1>
<ul>
    <li><a asp-controller="Calc" asp-action="Manual">Manual parsing in single action</a></li>
    <li><a asp-controller="Calc" asp-action="ManualParsingSeparate">Manual parsing in separate action</a></li>
    <li><a asp-controller="Calc" asp-action="ModelBindingParameters">Model binding (parameters)</a></li>
    <li><a asp-controller="Calc" asp-action="ModelBindingSeparate">Model binding (separate model)</a></li>
</ul>